.bg {
    background-image: url("../images/martina2.jpg");
  }

  .title{
    padding-top: 15%;
    font-size: 40pt;
  }

.subtitle{
    padding-top: 0%;
  }

.myself{
  margin-top: 10%;
 }

 .caption {
   font-size: 30pt;
 }

 .icon{
   width: 90px;
   height: 90px;
   margin-left: 8%;
   margin-right: 9%;
 }

 footer {
   background-color: #fff;
   height: 240px;
 }

 .sources p {
   margin-top: 2%;
 }

 .container a{
   opacity: 0.5;
 }
 .container a:hover{
   opacity: 1;
 }
